#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1650  // default is 600

/ {
    combos {
        compatible = "zmk,combos";

        bootloader {
            bindings = <&bootloader>;
            key-positions = <2 5 8 11 1 0>;
        };

        gaming_trigger {
            bindings = <&tog 0>;
            key-positions = <0 1 2 9 11 10>;
        };

        nav_trigger {
            bindings = <&tog 0>;
            key-positions = <9 11 7>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer0 {
            bindings = <
&kp Q  &kp W  &kp E      &kp R      &kp T      &kp Y     &kp U  &kp I
&kp A  &kp S  &kp D      &kp F      &kp G      &kp H     &kp J  &kp K
              &kp LCTRL  &kp LSHFT  &kp SPACE  &kp BSPC
            >;
        };
    };
};
